In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
sheet_names = ["MYE2 - 2017 All", "MYE2 - 2016 All", "MYE2 - 2015 All", "MYE2 - 2014 All", "MYE2 - 2013 All", "MYE2 - 2012 All"]
df_2012_to_2017 = pd.read_excel("../Resources/2012-2017_Popn_Estimates.xlsx",skiprows=4,sheet_name=sheet_names)

In [7]:
def age_aggregator(df,list_of_age_ranges,sheet_name=""):
    """ Function to sum age columns in dataframe
    
    Arguments:
    df -- the pandas dataframe (data from UK datasent)
    list_of_age_ranges -- a list of tupples specifying the age ranges
    """
    new_df = pd.DataFrame()
    new_df.loc[:, "Name"] = df["Name"].copy()
    for tup in list_of_age_ranges:
        prefix = sheet_name[7:11]
        col_name = f"{prefix}: {tup[0]} - {tup[1]-1} yrs"
        print(f"Calculating total age for {col_name}")
        col_list = list(range(tup[0],tup[1]))
        try:
            df_subset = df[col_list].copy()
            df_subset_sum = df_subset.sum(axis=1)
            new_df.loc[:, col_name] = df_subset_sum.values
        except KeyError:
            print(f"one or more of the following columns in the list {col_list} does not exist.")
    return new_df

In [13]:
master_df = pd.DataFrame()
list_of_age_ranges = [(16,31),(31,46),(46,56),(56,91)]

for sheet in sheet_names:
    current_df = df_2012_to_2017[sheet]
    current_df_by_region = current_df[current_df["Geography"]=="Region"].copy()
    popn_data_summary = age_aggregator(current_df_by_region,list_of_age_ranges,sheet)
    if master_df.size == 0:
        master_df = popn_data_summary.copy()
    else:
        master_df = pd.merge(master_df, popn_data_summary, on="Name")

Calculating total age for 2017: 16 - 30 yrs
Calculating total age for 2017: 31 - 45 yrs
Calculating total age for 2017: 46 - 55 yrs
Calculating total age for 2017: 56 - 90 yrs
Calculating total age for 2016: 16 - 30 yrs
Calculating total age for 2016: 31 - 45 yrs
Calculating total age for 2016: 46 - 55 yrs
Calculating total age for 2016: 56 - 90 yrs
Calculating total age for 2015: 16 - 30 yrs
Calculating total age for 2015: 31 - 45 yrs
Calculating total age for 2015: 46 - 55 yrs
Calculating total age for 2015: 56 - 90 yrs
Calculating total age for 2014: 16 - 30 yrs
Calculating total age for 2014: 31 - 45 yrs
Calculating total age for 2014: 46 - 55 yrs
Calculating total age for 2014: 56 - 90 yrs
Calculating total age for 2013: 16 - 30 yrs
Calculating total age for 2013: 31 - 45 yrs
Calculating total age for 2013: 46 - 55 yrs
Calculating total age for 2013: 56 - 90 yrs
Calculating total age for 2012: 16 - 30 yrs
Calculating total age for 2012: 31 - 45 yrs
Calculating total age for 2012: 46 - 55 yrs
Calculating total age for 2012: 56 - 90 yrs

In [14]:
master_df

,Name,2017: 16 - 30 yrs,2017: 31 - 45 yrs,2017: 46 - 55 yrs,2017: 56 - 90 yrs,2016: 16 - 30 yrs,2016: 31 - 45 yrs,2016: 46 - 55 yrs,2016: 56 - 90 yrs,2015: 16 - 30 yrs,...,2014: 46 - 55 yrs,2014: 56 - 90 yrs,2013: 16 - 30 yrs,2013: 31 - 45 yrs,2013: 46 - 55 yrs,2013: 56 - 90 yrs,2012: 16 - 30 yrs,2012: 31 - 45 yrs,2012: 46 - 55 yrs,2012: 56 - 90 yrs
0,NORTH EAST,512421.0,466550.0,374865.0,819631.0,517102,469364,375756,806581,518013,...,377977,782950,518722,480967,378653,769338,516586,487469,376667,758936
1,NORTH WEST,1398403.0,1343029.0,1024726.0,2110365.0,1407244,1348508,1022281,2078036,1406676,...,1008294,2019540,1408282,1371293,999330,1989745,1413178,1386783,986839,1966656
2,YORKSHIRE AND THE HUMBER,1078166.0,997039.0,757841.0,1579195.0,1084475,1003966,754220,1554249,1083407,...,742931,1508761,1083103,1027256,735604,1484652,1084390,1037398,726030,1466051
3,EAST MIDLANDS,912656.0,867548.0,682519.0,1425303.0,908606,869140,677108,1398303,902601,...,662896,1349330,888355,882925,653280,1324719,883564,893485,641230,1305079
4,WEST MIDLANDS,1153361.0,1083172.0,806071.0,1669788.0,1149046,1082537,800231,1643847,1138191,...,780778,1600875,1124003,1095653,769700,1578295,1119080,1105182,756643,1560520
5,EAST,1073031.0,1179584.0,876744.0,1852176.0,1082745,1180474,871293,1821187,1086605,...,850233,1761730,1076507,1181267,836783,1728853,1076008,1187963,820243,1701783
6,LONDON,1903941.0,2211218.0,1130029.0,1767001.0,1940919,2195648,1115087,1725112,1958635,...,1073305,1644177,1968899,2095397,1046867,1605933,1990696,2058853,1018293,1573600
7,SOUTH EAST,1616071.0,1731646.0,1307117.0,2688458.0,1624162,1742257,1299029,2641553,1619261,...,1272705,2550280,1604755,1757467,1252681,2501833,1603443,1769905,1227329,2461653
8,SOUTH WEST,991747.0,968262.0,786456.0,1835329.0,992754,972059,781983,1802105,991832,...,767844,1742565,977646,987475,759177,1711164,970705,998322,746193,1686748

In [17]:
df_2013 = df_2012_to_2017["MYE2 - 2013 All"]
df_2013[list(range(0,91))].mean(axis=1)

0      704457.736264
1      684350.868132
2      625804.714286
3      591932.054945
4       28687.505495
5        5669.483516
6        1161.824176
7        1018.263736
8        1526.494505
9        3476.802198
10       1483.076923
11       2125.637363
12      12225.923077
13       2198.879121
14       3140.890110
15       2221.615385
16       1630.593407
17       3033.945055
18      78060.307692
19       1623.769231
20       1556.076923
21       4098.967033
22       3638.120879
23       1385.428571
24       2254.560440
25       5478.010989
26       1057.901099
27        746.549451
28       1186.725275
29        769.802198
           ...
410      6555.164835
411      2559.670330
412       882.857143
413       930.879121
414      1036.923077
415       301.098901
416      1504.835165
417      3711.868132
418       236.923077
419      1623.846154
420      1910.879121
421      1251.428571
422       254.945055
423      1240.329670
424      3459.450549
425      1002.527473
426       986.813187
427      1935.824176
428     20106.868132
429      1533.362637
430      1732.307692
431      2239.087912
432      3682.780220
433      1557.131868
434      1633.318681
435      1256.758242
436      1503.384615
437      1494.472527
438      1553.065934
439      1921.197802
Length: 440, dtype: float64