In [17]:
import pandas as pd
import json
import numpy as np
import os
import warnings
warnings.filterwarnings('ignore')

voting_data = pd.read_csv("https://www.electoralcommission.org.uk/__data/assets/file/0014/212135/EU-referendum-result-data.csv")
county_vote_df = voting_data[['Region','Area', 'Valid_Votes', 'Remain', 'Leave']]
county_vote_df.name = 'county_vote_df'
region_vote_df = voting_data[['Region', 'Valid_Votes', 'Remain', 'Leave']].groupby('Region').agg(np.sum)
region_vote_df.name = 'region_vote_df'

dataframes = [county_vote_df, region_vote_df]
for dataframe in dataframes:
    dataframe.loc[:,'Pct_Remain'] = dataframe['Remain']/dataframe['Valid_Votes']
    dataframe.loc[:,'Pct_Leave'] = dataframe['Leave']/dataframe['Valid_Votes']
     
    output_file = os.path.join('..', 'Resources', dataframe.name +'.csv')
    #  Open the output file
    with open(output_file, 'w') as datafile:
        dataframe.to_csv(output_file)
        
strong_leave_df = county_vote_df[county_vote_df["Pct_Leave"] > .65]
strong_leave_df.name = 'strong_leave_df'
output_file = os.path.join('..', 'Resources', strong_leave_df.name +'.csv')
with open(output_file, 'w') as datafile:
        strong_leave_df.to_csv(output_file)
strong_remain_df = county_vote_df[county_vote_df["Pct_Remain"] > .65]
strong_remain_df.name = 'strong_remain_df'
output_file = os.path.join('..', 'Resources', strong_remain_df.name +'.csv')
with open(output_file, 'w') as datafile:
        strong_remain_df.to_csv(output_file)

In [16]:
strong_remain_df

,Region,Area,Valid_Votes,Remain,Leave,Pct_Remain,Pct_Leave
6,East,Cambridge,57799,42682,15117,0.738456,0.261544
87,London,City of London,4399,3312,1087,0.752898,0.247102
93,London,Camden,95133,71295,23838,0.749424,0.250576
98,London,Hackney,106266,83398,22868,0.784804,0.215196
99,London,Hammersmith and Fulham,80242,56188,24054,0.700232,0.299768
100,London,Haringey,105846,79991,25855,0.755730,0.244270
105,London,Islington,101600,76420,25180,0.752165,0.247835
106,London,Kensington and Chelsea,54739,37601,17138,0.686914,0.313086
108,London,Lambeth,141924,111584,30340,0.786224,0.213776
109,London,Lewisham,124473,86955,37518,0.698585,0.301415
113,London,Richmond upon Thames,108806,75396,33410,0.692940,0.307060
114,London,Southwark,129502,94293,35209,0.728120,0.271880
116,London,Tower Hamlets,108235,73011,35224,0.674560,0.325440
118,London,Wandsworth,157884,118463,39421,0.750317,0.249683
119,London,Westminster,78196,53928,24268,0.689652,0.310348
176,Scotland,East Renfrewshire,52941,39345,13596,0.743186,0.256814
191,Scotland,Stirling,48899,33112,15787,0.677151,0.322849
195,Scotland,City of Edinburgh,252294,187796,64498,0.744354,0.255646
202,Scotland,East Dunbartonshire,62374,44534,17840,0.713983,0.286017
203,Scotland,Glasgow City,252809,168335,84474,0.665858,0.334142
212,South East,Brighton and Hove,146675,100648,46027,0.686197,0.313803
249,South East,Oxford,70337,49424,20913,0.702674,0.297326
308,South West,Gibraltar,20145,19322,823,0.959146,0.040854